<div class="col-md-2">
            <div>
              <button type="button" ng-click="up()" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-chevron-up"></span>
              </button>
            </div>
            <span class="h4"><div ng-bind="score" class="label label-info"></div></span>
            <div>
              <button type="button" ng-click="down()" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-chevron-down"></span>
              </button>
            </div>
          </div>